.jumbotron {
  padding-top: 6rem;
  background-color: #cbc9d8;
}

#projects {
  background-color: #cbc9d8;
}

section {
  padding-top: 6rem;
}

.jumbotron {
  background-color: var(--bg-color-one);
    background-image: url(img/toko\ btu.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(10%);
    
}

#about img {
  width: 400px;
  border-radius: 40px 0px;
}

#projecta img {
  height: 1600px;
}

footer .col a{
  text-decoration: none;
}
footer .col p{
  color: white;
}